[Desktop Entry]
Name=Minimal Desktop Indicator
Comment=Simple display for virtual desktops

Icon=preferences-desktop-virtual
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Kyle McGrath
X-KDE-PluginInfo-Email=dualitykyle@pm.me
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=https://github.com/DualityKyle/plasma-desktop-indicator
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-License=GPL-3.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.kde.plasma.minimaldesktopindicator
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.virtualdesktops
